@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

:root{
    --font: 'Roboto', sans-serif;
    --black: #121212;
    --orange: rgb(253, 149, 3);
    --grey: rgba(51, 51, 51, 0.86);
    --greyclear:rgba(177, 183, 183, 0.86);
}
*{
    box-sizing: border-box;
    font-family: var(--font);
    margin: 0;
    padding: 0;
}
body{
    align-items: center;
    background-color: var(--black);
    display: flex;
    height: 100vh;
    justify-content: center;
    flex-direction: column;
}
a{
    text-decoration: none;
    color: rgba(245, 245, 245, 0.573);
    cursor: pointer;
}
.calculator-box{
    background-color: var(--black);
    border-radius: 5px;
    height: 420px;
    width: 300px;
}
#screen{
    background-color: var(--black);
    border: 0;
    color: whitesmoke;
    cursor: default;
    font-size: 50px;
    height: 25%;
    outline: none;
    padding: 15px;
    text-align: right;
    width: 100%;
} 
.calculator-box button{
background-color: var(--grey);
border-radius: 100%;font-weight: bolder;
border: 0;
color: var(--black);
color: whitesmoke;
cursor: pointer;
font-size: 26px;
margin: 3px;
padding: 18px;
width: 22%;
}
.calculator-box .orange{
    background-color: var(--orange);
}
.calculator-box .grey{
background-color: var(--greyclear);
}
footer{
    padding: 5% 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:rgba(245, 245, 245, 0.573);
}
footer #text1{
    align-self: center;
}